---
layout: layouts/home.njk
eleventyNavigation:
  key: Hangar
  order: 2
---
<h1>Hangar</h1>
<h2>To view specific catagories, use <a href="">tags</a></h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
